<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>project</title>
	<link rel="stylesheet" type="text/css" href="../css/css/workProject.css">
	
</head>
<body>
	<div id="mainPage">
		<header>
			<nav>
				<!--<a href="#" v-for="titles in pagesTitle">{{ titles.title }}</a>
				 <a href="#">项目</a> -->
				<nav-component v-for="item in pagesTitle" v-bind:todo="item"></nav-component>
			</nav>
		</header>
		
	</div>
	
	<script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>
	<script type="text/javascript" src="../js/workProject.js"></script>

</body>
</html>